.tarjeta-proyecto{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(0px, auto);
    
}
.contenedor_proyecto{
    grid-column: 1 ;
    grid-row: 1/3;
    align-self: center;
    padding: 60px;
    margin-left:80px;
    background-color: #F9F8F8;
    border-radius: 10px;
}
.imagen_tarjeta_m{
    margin:5% 5%;
    width:90%;
    grid-column: 2/4;
}
p{
    text-align:justify;
}